<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AES_256.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53C338671CABAF4600C5CF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C338801CABAF4700C5CF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C3388B1CABAF4800C5CF99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
